/* == Галерея == */
/* У вигляді сітки */
.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, minmax(0, 250px));
    gap: 1em .5em;
}

/* У вигляді списку */
.gallery.list-view {
    grid-template-columns: repeat(2, 1fr);
}

.gallery.list-view .poster {
    background: #fff8;
}

.gallery.list-view .poster .thumbnails-container {
    margin-top: .5em;
    padding: .5em 0;
    border-top: 1px solid var(--accent-color-50);
}
.gallery.list-view .poster .poster-thumbnail span {
     display: none; 
}
.gallery.list-view .poster .anime-details span {
    border: none;
    color: var(--accent-color);
    padding: .3em .4em;
    font-size: 12px;
}
.gallery.list-view .poster .poster-thumbnail img {
    width: 50px;
}

.gallery.list-view ~ .modal .modal-content-wrapper {
    display: grid;
    width: min-content;
}
.gallery.list-view ~ .modal .modal-full-poster {
    max-height: calc(100vh - 3em - 53px);
}
.gallery.list-view .poster .poster-info {
    width: calc(100% - 150px);
}

/*   */

.poster {
    border-radius: 8px;
    overflow: hidden;
    transition: .3s ease;
}

.poster:hover {
    background: #fff5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.gallery.list-view .poster {
    display: flex;
    align-items: center;
}

.poster-img-container {
    position: relative;
    display: flex;
    max-width: 250px;
    max-height: 250px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.poster-count {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    padding: 0 .3em;
    border-radius: 4px;
}

.gallery.list-view .poster-img-container {
    width: 150px;
    min-width: 150px;
    height: 210px;
    padding-top: 0;
}

.poster-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.poster-info {
    padding: .5em;
}

.poster-author {
    font-size: 14px;
    color: #666;
}