@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("css/colors.css");
@import url("css/common.css");
@import url("css/controls.css");
@import url("css/gallery.css");
@import url("css/poster-modal.css");
@import url("css/pagination.css");
@import url("css/mobile.css");


/* Стилі для елементів аніме */
.romaji {
    color: #666;
    font-size: 0.9em;
    font-style: italic;
}

.poster-author {
    color: #444;
    font-size: 0.8em;
    margin-top: 5px;
}

/******/

/* Стилі для тайтлів без постерів */
.poster.no-poster .poster-img-container {
    position: relative;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: all 0.3s ease;
}

.poster.no-poster:hover .poster-img-container {
    filter: grayscale(70%);
    opacity: 0.9;
}

.no-poster-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    pointer-events: none;
}